.registerScreen {
    height: 100%;
    will-change: transform;
    background: #b1db73;
}

.registerContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
}

.registerScreenHeader {
  padding: 10px;
}

.registerScreenHeaderTitle {
    font-size: 2em;
}

.registerScreenFormWrapper {
    width: 100%;
    max-width: 500px;
    padding: 20px;
}

.backButton {
    position: absolute;
    top: 10px;
    left: 10px;
}