
.eventMenu {
    padding-top: 64px;
    flex:1;
    overflow: auto;
    position: relative;
}

.eventMenuCardWrapper {
    height:100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-content: flex-start;
    position: relative;
}

.first {
    background: #f3bb72
}

.second {
    background: #ff85a7
}

.third {
    background: #7beced
}

.fourth {
    background: #b1db73
}

.eventContent {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    will-change: transform;
}

.contentHeader {
    position: relative;
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
} 


.headerTitle {
  padding: 5px;
  color: #34495e;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  width: 100%;
}

.headerTitle h3 {
  font-size: 1.4em;
  line-height: 1.4;
  padding: 0 5px;
  margin: 0;
}


.backButton {
    position: absolute;
    top:5px;
    right: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.cardExpanded {
    position: fixed;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    max-width: none;
    width: auto;
    height: auto;
    margin: 0;
    box-shadow: none;
    border-radius: none;
    flex-direction: column;
    align-items: flex-start;
    z-index:10;
}