
.user-screen__content {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

/*
.user-screen__form-wrapper {
    padding: 5px 5px 15px 5px;
}

.user-screen__form--button {
    align-self: flex-end;
}

*/