.flatButton {
    position: relative;
    height: 48px;
    min-height: 48px;
    width: 100%;
    white-space: normal;
    padding: 10px 19px;
    font-size: 17px;
    line-height: 1.471;
    border-radius: 6px;
    border: none;
    font-weight: normal;
    transition: opacity 0.2s linear;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: '900px') {
    .flatButton:hover {
        opacity: 0.7;
    }
}

.flatButton:focus {
    opacity: 1;
}


.flatButtonPrimary {
    composes:flatButton; 
    background-color: #34495e; 
}

.flatButtonError {
    composes: flatButton;
    background-color: #e74c3c; 
}

.flatButtonSuccess {
    composes: flatButton;
    background-color: #0f0; 
}

.flatButtonFacebook {
    composes: flatButton;
    background-color: #3b5998; 
}

.iconButton {
    border: none;
    transition: opacity 0.2s linear;
    cursor: pointer;
    color: #fff;
    padding: 0;
    background: transparent;
    backface-visibility: hidden;
    border-color: transparent;
    box-shadow: none;
    border-radius: 0;
    transition: opacity 0.2s linear;
}

.iconButton:active, .iconButton:focus {
   box-shadow: none;
   border-color: transparent;
}


.textButton {
    border: none;
    transition: opacity 0.2s linear;
    cursor: pointer;
    color: #fff;
    font-size: 1.3em;
    backface-visibility: hidden;
    padding: 0;
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    border-radius: 0;
    transition: opacity 0.2s linear;
}

.textButton:active, .textButton:focus {
   box-shadow: none;
   border-color: transparent;
}

.wideButton{
    width:100px;
}