.enter { 
  opacity: 0.01;
  transition: opacity 1.5s ease-in;
 }
.enterActive { 
  opacity: 1;
 }
.leave { 
  opacity: 1;
  transition: opacity 1.5s ease-in;
}
.leaveActive { 
  opacity: 0.01;
 }
.appear { 
  opacity: 0.01;
 }
.appearActive { 
  opacity: 1;
  transition: opacity 1.5s ease-in;
}

/*

.route-transition-home-enter {
  transform: translate3d(-100%, 0, 0); 
  transition: transform .3s ease-in-out;
}

.route-transition-home-enter.route-transition-home-enter-active {
  transform: translate3d(0, 0, 0); 
}

.route-transition-home-leave {
  transition: transform .3s ease-in-out;
}

.route-transition-home-leave.route-transition-home-leave-active {
  
  transform: translate3d(100%, 0, 0);
}


.route-transition-login-enter {
  transform: translate3d(100%, 0, 0); 
  transition: transform .3s ease-in-out;
}

.route-transition-login-enter.route-transition-login-enter-active {
  transform: translate3d(0, 0, 0); 
}

.route-transition-login-leave {
  transition: transform .3s ease-in-out;
}

.route-transition-login-leave.route-transition-login-leave-active {
  
  transform: translate3d(-100%, 0, 0);
}



.route-transition-register-enter {
  transform: translate3d(100%, 0, 0); 
  transition: transform .3s ease-in-out;
}

.route-transition-register-enter.route-transition-register-enter-active {
  transform: translate3d(0, 0, 0); 
}

.route-transition-register-leave {
  transition: transform .3s ease-in-out;
}

.route-transition-register-leave.route-transition-register-leave-active {
  
  transform: translate3d(-100%, 0, 0);
}



.route-transition-main-enter {
  transform: translate3d(100%, 0, 0); 
  transition: transform .3s ease-in-out;
}

.route-transition-main-enter.route-transition-main-enter-active {
  transform: translate3d(0, 0, 0); 
}

.route-transition-main-leave {
  transition: transform .3s ease-in-out;
}

.route-transition-main-leave.route-transition-main-leave-active {
  
  transform: translate3d(-100%, 0, 0);
}*/