.infoSection {
    width: 100%;
}

.headerImage {
    display: block;
    min-height: 180px;
    max-width: 100%;
    width: 100%;
}
.dateSection {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.month {
    text-transform: uppercase;
    color: #fa3e3e;
}

.day {
    text-align: center;
}

.titleSection {
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.nameSection {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.nameSection > h3 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
}


.timeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}