.materialFieldError {
    position: absolute;
    width: 100%;
    top: 5px;
    color: #e74c3c;
}

.inputContainer {
    position: relative;
    width: 100%;
    margin-top: 40px;
    color: #fff;
}

.materialField {
    outline: none;
    z-index: 1;
    position: relative;
    background: none;
    width: 100%;
    height: 40px;
    border: 0;
    font-size: 17px;
    font-weight: 400;
}

.materialField:focus ~ .materialBar:before  {
    width: 50%;
}
.materialField:focus ~ .materialBar:after {
    width: 50%;
}

.materialLabel {
    position: absolute;
    top: 0;
    left:0;
    font-size: 17px;
    font-weight: 300;
    line-height: 50px;
    transition: .2s ease;
}

.materialLabelRaised {
    opacity: 0.8;
    transform: translate(-12%, -70%) scale(0.75);
}


.materialBar {
    position: absolute;
    left:0;
    bottom: 0;
    background: #757575;
    width: 100%;
    height: 1px;
}

.materialBar:before {
    left: 50%;
}

.materialBar:after {
    right: 50%;
}

.materialBar:before, .materialBar:after {
    content: '';
    position: absolute;
    background: #e74c3c;
    width: 0;
    height: 2px;
    transition: .2s ease;
}

.spacedItem {
    margin-top: 5px;
}

.spacedItem10 {
    margin-top: 10px;
}

.spacedItem30 {
    margin-top: 30px;
}