.homeScreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    will-change: transform;
    background: #f3bb72;
}

.homeContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
}


.divider {
  flex: 1;
}

.nav {
  display: flex;
  width: 100%;
  height: 78px;
  margin-bottom: 30px;
  justify-content: center;
}

.emphesizedLink {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
}

.linkWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verticalDivider {
  display:block;
  width: 3px;
  height: 100%;
  background: #fff;
}