.app-header {
    box-sizing: border-box;
    height: 54px;
    width: 100%;
    background: #34495e;
    border-width: 2px;
    z-index: 9999;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    overflow: hidden;
}

.emphesized-link {
    color: #1abc9c;
    text-decoration: none;
    font-size: 1.3em;
}

.backButton {
    cursor: pointer;
}

/*ENTER REGISTER*/

.header-swap-enter {
    opacity: 0.05;
    transition: opacity 0.3s ease;
}

.header-swap-enter.header-swap-enter-active {
    opacity: 1;
}

.header-swap-leave {
    transition: opacity 0.3s ease;
    opacity: 1;
}

.header-swap-leave.header-swap-leave-active {
    opacity: 0;
}
