.eventListScreen {
    padding-top: 64px;
    flex:1;
    overflow: auto;
    position: relative;
    will-change: transform, opacity;
}

.eventList {
    max-width: 500px;
    margin: 0 auto;
    padding:0;
}