
.eventLink {
    text-decoration: none;
}

.eventListItem {
    display: block;
    background: #f3bb72;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    color: #fff;
    height: 64px;
    list-style: none;
    margin: 10px;
    cursor: pointer;
}

.itemContent {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 10px;
}

.itemContent > h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.divider {
    flex: 1;
}