
.input-field__wrapper {
    padding: 5px 0px 5px 0px;
    width: 100%;
}

.input-field {
    width: 100%;
    outline: none;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 5px;
    height: 42px;
    border: 2px solid #95a5a6;
    padding: 8px 12px;
    font-size: 17px;
    line-height: 1.467;
    box-shadow: none;
    background: transparent;
    transition: border 1s linear;
}

.input-field:focus {
    border-color: #27ae60;
}

.input-field.error {
    border-color: #e74c3c;
}